@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red;">Welcome To 
        <strong><span style="color:blue; font-size:55px;" >Book-Mart</span></strong>
    </h1>
</div>
